<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.23/dc.css">
<div class="row">
  <div id="dataCount" class="col-md-12">boo</div>
</div>

<div class="row">
  <div id="originPiChart" class="col-xs-4">
    <legend>
      Origin Proportions
    </legend>
  </div>

  <div id="destinationPiChart" class="col-xs-4">
    <legend>
      Destination Proportions
    </legend>
  </div>

  <div id="profitsChart" class="col-xs-4">
    <legend>
      Profit
    </legend>
  </div>
</div>

<div class="row">
  <div id="monthLineChart" class="col-xs-4">
    <legend>
      Months
    </legend>
  </div>

  <div id="VWchart" class="col-xs-4">
    <legend>
      Volume to weight
    </legend>
    <table id="VWTable" class="table table-bordered">
      <thead>
        <tr>
          <th>
            Origin-Destination
          </th>
          <th>
            Volume
          </th>
          <th>
            Weight
          </th>
          <th>
            Average Duration
          </th>
        </tr>
      </thead>
    </table>
  </div>

  <div id="routeChart" class="col-xs-4">
    <legend>
      Types of deliveries
    </legend>
  </div>

  </div>
</div>
