<div class="container">
  <h2>Companies</h2>

  <h3>Create</h3>
  <div class="row">
    <form name="companyForm" role="form" novalidate>
      <div class="form-group col-md-6" ng-class="{'has-error': (companies.error || companyForm.name.$touched) && companyForm.name.$invalid}">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" ng-model="companies.newCompany.name" required>
      </div>

      <div class="form-group col-md-6" ng-class="{'has-error': (companies.error || companyForm.city.$touched) && companyForm.city.$invalid}">
        <label for="city">City</label>
        <select name="city" class="form-control" ng-model="companies.newCompany.city" required>
          <option ng-repeat="city in companies.cities" value="{{ city.id }}">{{ city.name }}</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <button class="btn btn-default" ng-click="companyForm.$valid ? companies.create() : companies.alertForm()">Submit</button>
        <p ng-show="companies.error" class="error">Please fill in all the required details</p>
      </div>
    </form>
  </div>

  <h3>All</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in companies.companies">
        <td>{{ company.name }}</td>
        <td>{{ company.city }}</td>
      </tr>
      <tr ng-show="!companies.companies.length">
        <td>Nothing to see here!</td>
      </tr>
    </tbody>
  </table>
</div>
