<div class="container">
  <h2>Dashboard</h2>

  <div class="row">
    <div class="col-md-4 dashboard-icon">
      <a href="/#/routes">
        <div class="dashboard-icon-inner">
          <i class="fa fa-globe"></i>
          <p>Routes</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 dashboard-icon">
      <a href="/#/deliveries">
        <div class="dashboard-icon-inner">
          <i class="fa fa-truck"></i>
          <p>Deliveries</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 dashboard-icon">
      <a href="/#/companies">
        <div class="dashboard-icon-inner">
          <i class="fa fa-building"></i>
          <p>Companies</p>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 dashboard-icon">
      <a href="/#/cities">
        <div class="dashboard-icon-inner">
          <i class="fa fa-map-marker"></i>
          <p>Cities</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 dashboard-icon">
      <a href="/#/customers">
        <div class="dashboard-icon-inner">
          <i class="fa fa-users"></i>
          <p>Customers</p>
        </div>
      </a>
    </div>

    <div class="col-md-4 dashboard-icon">
      <a href="/#/analytics">
        <div class="dashboard-icon-inner">
          <i class="fa fa-area-chart"></i>
          <p>Analytics</p>
        </div>
      </a>
    </div>
  </div>
</div>
