<div class="container">
  <div class="col-md-5">
    <form role="form" novalidate>
      <h2>Login</h2>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" ng-model="auth.user.login.email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" ng-model="auth.user.login.password">
      </div>

      <div class="error">
        <span ng-show="auth.error.login">{{ auth.error.login }}</span>
      </div>

      <button class="btn btn-default" ng-click="auth.login()">Submit</button>
    </form>
  </div>

  <div class="col-md-5">
    <form role="form" novalidate>
      <h2>Sign Up</h2>

      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input id="firstname" class="form-control" type="text" ng-model="auth.user.register.firstname">
      </div>

      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input id="lastname" class="form-control" type="lastname" ng-model="auth.user.register.lastname">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" ng-model="auth.user.register.email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" ng-model="auth.user.register.password">
      </div>

      <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input id="password-confirm" class="form-control" type="password" ng-model="auth.user.register.confirm">
      </div>

      <div class="form-group">
        <label>Position</label><br>
        <label class="radio-inline"><input name="position" type="radio" checked>Clerk</label>
        <label class="radio-inline"><input name="position" type="radio">Manager</label>
      </div>

      <button class="btn btn-default" ng-click="auth.register()">Submit</button>
    </form>
  </div>
</div>
